# String method in pandas series

## Initializing the libraries and dataset

In [1]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

### Convert lowercase column use str.lower()

In [2]:
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Convert lowercase column use apply()

In [3]:
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Use apply() & lambda function

In [4]:
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Convert pandas column to lowercase use map()

In [5]:
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [6]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [7]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [8]:
s.str.contains('Bat|fox')

0     True
1    False
2     True
3      NaN
dtype: object

In [9]:
s.str.replace(r'\d+', 'number')

C:\Users\Yajat\AppData\Local\Temp\ipykernel_2708\1430604328.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace(r'\d+', 'number')

0    number. Bat.
1    number. Dog!\n
2    number. fox?\t
3               NaN
dtype: object

In [10]:
s.str.startswith('2')

0    False
1     True
2    False
3      NaN
dtype: object

In [11]:
s.str.endswith('!')

0    False
1    False
2    False
3      NaN
dtype: object

In [12]:
s.str.cat( sep = ' ')

'1. Bat.   2. Dog!\n 3. fox?\t'

In [13]:
s.str.get(1)

0      .
1      .
2      .
3    NaN
dtype: object

In [14]:
s.str.slice(1,4)

0    . B
1    . D
2    . f
3    NaN
dtype: object

In [15]:
s.str.find('Dog')

0   -1.0
1    3.0
2   -1.0
3    NaN
dtype: float64